body{
	background: #292929;
	color: #292929;
	
	font-family: 'Baskerville', 'Times New Roman', 'times', serif;
	
	text-align: center; /*centers text content in an area*/
	
	padding:10px;
	
	margin-top: 0; 
	margin-left: auto;
	margin-right: auto; /*centers region in browser*/
	
	border-radius: 10px;
	}

h1{
	color: #080C1F;
	
	font-size: 2em;
	font-weight:800;
	
	margin: 0;
	}	

#header{
	background: #7B91FF;
	
	padding:10px;
	
	border-radius: 10px;
	}

#content{
	background: #5E71C4; 
	
	font-family: 'Verdana', sans-serif;
	
	padding:10px;
	
	border-radius: 10px;
	}

.image{
	display: block;
	
	width:80%;
	max-width:600px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
	margin-bottom: 20px;
	
	border-radius: 20px;

	box-shadow: #1C2866 1px 1px 15px;
	}

h3{
	color: #080C1F;
	
	font-size: 1.32em;
	text-decoration:underline;
	letter-spacing: .32px;  
	
	padding: 0 0 5px 0;
	
	margin: 1px;
	}

#caption{
	background: rgb(123, 145, 255); 
	
	padding: 10px;
	
	margin: 5px 0px;
	
	border-radius: 10px;
	
	box-shadow: inset rgba(255, 255, 255, 0.2) 0px 0px 50px;
	}
	
#caption p{
	margin: 5px 0px;
	}	

#caption h3{
	font-family: 'Baskerville', serif;
	}

#navigation{
	background: #1C2866;
	
	letter-spacing: .035em;
	
	padding: 10px;
	
	margin: 10px 0px;
	
	border-radius: 10px;
	}
	
.links1{
	display: inline-block;
	
	margin-top: 5px;
	margin-bottom:0px;
	}

#navigation a{
	display: inline-block;
	
	margin-right: auto;
	margin-left: auto;
	margin: 5px;
	}
	
a:link{
	background: #7685cf; 
	
	color: #CAD3FF; 

	font-size: 1.15em;
	text-decoration: none; 
	
	padding: 15px 25px 15px 25px; 
	
	border-radius: 8px; 
	}
	
a:visited{
	background: #3C56DA; 
	color: #cccccc;
	
	text-decoration: none;
	
	padding: 15px 25px 15px 25px; 
	
	border-radius: 20px; 
	}
	
a:active{
	background: #7B91FF;
	
	color: #1C2866; 
	text-decoration: underline; 
	
	padding: 15px 25px 15px 25px; 
	
	border-radius: 20px; 
	}
	
a:hover, a:focus{
	background: #7B91FF; 
	color: #080C1F; 
	
	text-decoration: none; /*Not sure if this is a reset and needed, or not needed, so test this*/
	
	padding: 15px 25px 15px 25px; 

	border-radius: 8px;  
	
	box-shadow: #B0BDFF 0px 0px 25px;
	
	text-decoration: underline; /*Perhaps this is a repeat, test to be sure*/
	}

/*Reminder that the focus part of this is for accessibility. Focus lets the user use their arrow keys on their keyboard to navigate for accessibility purposes the color of the navigation links change color when a user hovers or uses their arrow keys*/

#footer{
	background: #313131;
	color: #6b6b6b;
	
	font-size: 0.8em;
	
	padding:10px;
	
	margin: 10px 0px;
	
	border-radius: 10px;
	}
	
#footer p{
	margin: 5px 0px;
	}
